@font-face {
  font-family: "SSSocial";
  src: url('/dev/css/fonts/ss-social-circle.eot');
  src: url('/dev/css/fonts/ss-social-circle.eot?#iefix') format('embedded-opentype'),
       url('/dev/css/fonts/ss-social-circle.woff') format('woff'),
       url('/dev/css/fonts/ss-social-circle.ttf') format('truetype'),
       url('/dev/css/fonts/ss-social-circle.svg#SSSocialCircle') format('svg');
  font-weight: bold;
  font-style: normal;
}