/* ==========================================================================
   
   $OBJECTS

   ========================================================================== */

/**
 * Page Container
 */

.container {
    margin: 0 auto;
    max-width: 75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


/**
 * Generic Navigation styles
 */

.nav {
    list-style: none;
    margin-left: 0;
    padding: 0;
}
.nav > li, .nav > a {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav a {
    border-bottom: none;
}

.social-icons li a {
    font-family: 'SSSocialCircle';
    margin: 0.75em 0 0 0;
    font-size: 1.75em;
}

/**
 * `.nav-stacked` extends `.nav`, stacks the navigation list
 *
 */
.nav--stacked > li {
    display: list-item;
}
.nav--stacked > li > a {
    display: block;
}

/**
 * Social Icons
 */

 .social-icons {
    font-family: 'SSSocialCircle';
    line-height: 1;
 }

 .logo img {
    max-height: 70px;
 }

 