<div class="container">

<div class="header  full-width">
  
<div class="mm-half">
    <div class="logo">
        <a href="/"><img src="/images/logo.jpg/"></a>
    </div><!-- .logo -->
</div><!-- .sm-half -->


<div class="mm-half  last">
    
    <ul class="nav  main-nav  clearfix">
      <!--
        -- I'm not completely sure what `errants` was supposed to refer to
        -- or where it should lead
        -->
        <li><a href="#">errants</a></li>
        
        <li><a href="{{ site.url }}/issues">issue toc</a></li>
        <li><a href="{{ site.url }}/about">about</a></li>
    </ul><!-- .main-nav -->

    <ul class="nav  social-nav  social-icons  clearfix">
        <li><a href="#" alt="Facebook">&#62992;</a></li>
        <li><a href="#" alt="Twitter">&#62993;</a></li>
    </ul><!-- .social-nav -->
    
</div><!-- .sm-half  last -->


</div><!-- .header  full-width -->