<div class="container">

<div class="header  clearfix">
  
<div class="logo">
    <a href="/"><img src="http://fakeimg.pl/550x100/?text=errant"></a>
</div><!-- .logo -->


<ul class="nav  main-nav">
  <!--
    -- I'm not completely sure what `errants` was supposed to refer to
    -- or where it should lead
    -->
    <li><a href="#">errants</a></li>
    
    <li><a href="{{ site.url }}/issues">issues</a></li>
    <li><a href="{{ site.url }}/about">about</a></li>
</ul><!-- .main-nav -->

<ul class="nav  social-nav  social-icons">
    <li><a href="#" alt="Facebook">&#62992;</a></li>
    <li><a href="#" alt="Twitter">&#62993;</a></li>
</ul><!-- .social-nav -->


</div><!-- .header -->