/**
 * Article styles
 */
 .article--title {
    border-top: 1px solid;
    border-bottom: 1px solid;
    h2 {
      font-weight: normal;
    }
 }

 .article--body p:last-child:after {
  color: $brand-secondary;
  content: " \2766"
 }