/**
 * Container
 */
 html {
  background-color: 
    lighten($light-grey, 20%);
 }

 .container {
    border: 1px solid $light-grey;
    background: $rev;
 }

/**
 * Header
 */
 .header .main-nav {
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $brand-color;
  }

 .logo img {
    @include transition(all 0.75s);
    opacity: 1;
    &:hover {
      opacity: 0.5;
    }
  }

/**
 * Style Helpers
 */
  .bottom-shadow {
    @include box-shadow(0 8px 6px -6px $light-grey);
  }

/**
 * Footer
 */
 .footer .main-nav {
    border-top: 1px solid $brand-color;
    border-bottom: 1px solid $light-grey;
  }