/**
 * Header
 */
 .header {
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
  }

 .logo img {
    @include transition(all 0.75s);
    opacity: 1;
    &:hover {
      opacity: 0.5;
    }
  }


/**
 * Stylings for typography
 */
 .light-headline {
    text-align: center;
    color: $light-grey;
    font-weight: normal;
  }

  .post-date {
    font-style: italic;
  }


/**
 * 
 */
  .bottom-shadow {
    @include box-shadow(0 8px 6px -6px $light-grey);
  }

/**
 * Footer
 */
 .footer {
    border-top: 1px solid;
  }