$icon-font: "SSSocial";
$brand-primary-face: "ff-meta-serif-web-pro", Georgia, serif;
$brand-secondary-face: "ff-meta-web-pro", Helvetica, Arial, sans-serif;


$brand-color: #404040;
$brand-secondary: #C75757;
$light-grey: #BFBFBF;
$rev: #FFFFFF;

$spacing-unit: 1em;
$half-spacing-unit: $spacing-unit / 2;