{% include top.html %}
{% include header.html %}
    
    <div class="article  full-width">
    
    <div class="article--cover">
        
        <div class="bottom-shadow">
            <img src="{{ page.image }}" />
        </div><!-- .bottom-shadow -->
        
        <div class="article--title">
            <h1 class="article--name">{{ page.title }}</h1>
            <h2 class="article--author">{{ page.author }}</h2>
            <p class="post-date">{{ page.date | date_to_string }}</p>
        </div><!-- .article-title -->
        
    </div><!-- .article-cover -->
    
    {% include share.html %}
    <div class="article--body">
        
    {{ content }}
    
    </div><!-- .article--body -->
    {% include share.html %}
    
    <h4>Latest Articles</h4>
    <div class="grid-wrap">
        <ul class="blog-roll  nav  nav--stacked">
        {% for post in site.posts limit:4 %}
        
        <div class="grid-col  bp1-col-one-half  bp2-col-one-quarter">
        
        <li class="post  other--post">
            <div class="post-thumb">
            <a href="{{ post.url }}">
            <img src="{{ post.thumbnail }}" />
            </a>
            </div><!-- .post-thumb -->
            
            <p class="post-date">{{ post.date | date_to_string }}</p>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="excerpt">{{ post.excerpt }}</p>
        </li><!-- .post -->
        </div><!-- .sm-quarter -->
        
        {% endfor %}
        </ul><!-- .blog-roll -->
    </div><!-- .full-width -->
    
    </div><!-- .article -->

{% include footer.html %}