{% include top.html %}
{% include header.html %}
    
    <div class="article  full-width">
    
    <div class="article--cover">
        
        <div class="article--title">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.author }}</h2>
            <p class="post-date">{{ page.date | date_to_string }}</p>
        </div><!-- .article-title -->
        <img src="{{ page.image }}" class="one-edge-shadow" />
    </div><!-- .article-cover -->
    
    {% include share.html %}
    <div class="article--body">
        
    {{ content }}
    
    </div><!-- .article--body -->
    {% include share.html %}
    
    <h4>Other articles in this issue</h4>
    <div class="full-width">
        <ul class="blog-roll  nav  nav--stacked">
        {% for post in site.posts limit:4 %}
        
        <div class="sm-half  mm-quarter">
        
        <li class="post  other--post">
            
            <a href="{{ post.url }}">
            <img src="{{ post.thumbnail }}" />
            </a>
            <p class="post-date">{{ post.date | date_to_string }}</p>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="excerpt">{{ post.excerpt }}</p>
        </li><!-- .post -->
        </div><!-- .sm-quarter -->
        
        {% endfor %}
        </ul><!-- .blog-roll -->
    </div><!-- .full-width -->
    
    </div><!-- .article -->

{% include footer.html %}