/**
 * This media query is based on nothing right now
 * This is simply to show the main navigation *will* change
 */

@media screen and (min-width: 750px) { /* this width is arbitrary */
    /**
     * Experiments for full layout
    */
   /**
    * Main Navigation
    */
    .main-nav, .social-nav {
      text-align: right;
      margin-top: 0;
    }

    .article--title {
    position: absolute;
    top: 15%;
    right: 0px;
    bottom: 15%;
    left: 0px;
    padding-top: 3.5em;
    padding-bottom: 1em;
    }

    /**
     * Experimental grid
     */

     /**
      * Small-Media full width
      * can be used as a row or a clearfix
      */
     .mm-full {
      @include span-columns(12 omega, 12);
     }

    /**
     * Small-Media half-width
     */
    .mm-half {
      @include span-columns(6, 12);
    }


    /**
     * Small-Media quarter width
     */
    .mm-quarter {
      @include span-columns(3,12);
      
      &:nth-child(2n) { 
        @include remove-omega; 
      }
      @include nth-omega(4n);
    }


    /**
     * A general style for something that fills the final column in a grid
     */
    .last {
      @include omega;
    }

}/* end 750px media query */


/* ==========================================================================
   H5BP MEDIA QUEIRIES

   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}