/* ==========================================================================
   
   $STRUCTURE
   
   ========================================================================== */

/**
 * Container 
 */
 .container {
    max-width: 60em;
    margin-top: 2em;
 }


/**
 * Header 
 */
 .header {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
 }


/**
 * Main Navigation
 */

  .logo img {
    max-height: 3em;
 }

 .main-nav {
  margin-top: $spacing-unit;
  padding-top: $half-spacing-unit;
  padding-bottom: $half-spacing-unit;
 }
 .main-nav > li {
    margin-left: $half-spacing-unit;
    margin-right: $half-spacing-unit;
 }

 .main-nav > li:first-child {
    margin-left: 0;
 }
 .social-nav {
    margin-top: $half-spacing-unit;
    margin-bottom: $half-spacing-unit;
 }
 .social-nav {
    margin-top: 0;
    margin-bottom: 0;
 }

 /**
  * Blog Roll
  */
  .blog-roll {
    margin-top: 0;
    margin-bottom: 0;
  }
  .post {
    padding-bottom: 0.75em;
    margin-bottom: $spacing-unit;
  }
  .post img {
    width: 100%;
    height: auto;
  }

  
/**
 * Article
 */
 .article--cover {
    position: relative;
 }

 .article--title {
    position: relative;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
 }

 .article--body {
    max-width: 40em;
    margin: $spacing-unit auto 0 auto;
 }

 .share-page {
    margin-top: $spacing-unit;
 }


 /**
  * Footer
  */
  .footer {
    margin-top: $spacing-unit;
    padding-bottom: 2em;
  }


