/* ==========================================================================
   
   $STRUCTURE
   
   ========================================================================== */


/**
 * Container 
 */
 .container {
    @include container;
 }


/**
 * Header 
 */
 .header {
    padding-top: 1em;
    padding-bottom: 2em;
 }


/**
 * Main Navigation
 */

 .main-nav > li {
    margin-left: 1em;
 }

 .main-nav > li:first-child {
    margin-left: 0;
 }

 .social-nav {
    margin-top: 0;
    margin-bottom: 0;
 }

 /**
  * Blog Roll
  */
  .blog-roll {
    margin-top: 0;
    margin-bottom: 0;
  }
  .post {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }


/**
 * Article Cover
 */
 .article-cover {
    position: relative;
 }

 .article-title {
    position: absolute;
    top: 25%;
    right: 0;
    bottom: auto;
    left: 0;
 }


 /**
  * Footer
  */
  .footer {
    padding-bottom: 2em;
  }


/**
 * Experimental Grid
 */
 .full-width {
    @include span-columns(12 omega, 12);
 }


